html {
    height: 100%;
}

main {
    text-align: center;
    /* padding: 0 25%; */
    padding: 0 30%;
    height: 100%;
}

.content {
    background: #02e05e;
    padding: 4rem;
    border-radius: 10px;
    width: auto;
}

/* Responsividade */

@media (max-width: 609px) {
    main {
        padding: 0 10%;
    }
}

@media (max-width: 991px) and (min-width: 610px) {
    main {
        padding: 0 20%;
    }
}